<<<<<<< HEAD
.menu {

	top: 68px;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	width: 410px;
	position: fixed;
	height: 100vh;
	flex: 0 0 400px;
	// background-color: aquamarine;



	a {
		text-decoration: none;
		
	}

	.menu-header {
		// background-color: var(--neutral-900-20-50);
		width: 100%;
		padding: var(--size-medium);
		// border-bottom: 1px solid var(--neutral-900-20);
		padding-top: 33px;
		padding-bottom: 33px;
		display: flex;
	
		
		img {
			width: 100%;
			max-width: 150px
		}
	}

	.menu-principal {

		// padding: var(--spacing-small);
		width: 150px;
		font-size: 0.9em;
		flex: 1;
		// padding-right: var(--spacing-small);
		background-color: var(--white);
		max-width: 160px;
		border-right: 1px solid var(--neutral-100);




		.menu-principal-item {


			padding: var(--spacing-big);
			display: flex;
			align-items: center;
			gap: 6px;
			font-weight: 700;
			min-width: 100%;
			justify-content: flex-start;
			color: var(--neutral-900)!important;

			
				[class^="icon-"], [class*=" icon-"] {
					font-size: 18px;
				}
			


			img {
				width: 20px;
			}

	

			&:hover {
				background-color: var(--secondary-100-80);
			}

			&.active {
				background-color: var(--secondary-100-80);
				// color: var(--primary-500);
				border-right: 3px solid var(--primary-500);

				&:hover {
					// background-color: transparent;
					// color: var(--primary-500);
				}
			}
		}
	}

	.menu-sub {
		border-right: 1px solid var(--neutral-900-20);
		display: none;
		height: 100vh;
		overflow-y: auto;
		width: 370px;
		padding: 0;
		font-size: 16px;
		flex: 1;
		background-color: var(--white);

		&.active {
			display: block;
		}


		&::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		&::-webkit-scrollbar:vertical {
			width: 10px;
		}

		&::-webkit-scrollbar-button:increment {
			display: none;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar:horizontal {
			height: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-400-50);
			border-radius: 20px;
			border: 2px solid #f1f2f3;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
		}

		>.nav-item.active {
			background-color: var(--secondary-50-50);
			// border-left: 3px solid var(--neutral-900-20);
			>.nav-item{
				// background-color: var(--secondary-100-20)!important;
			}
			>.nav-sub-item.active{
				// background-color: var(--secondary-50-50);
			}
			>.nav-section-item{
				// background-color: var(--secondary-900-80);
			}
		}

		.nav-item {

			cursor: pointer;
			border-bottom: solid 1px var(--neutral-900-20);
			>.nav-item{
				border-bottom:0;
			}

			

			a {
				padding: var(--spacing-medium);
				display: flex;
				align-items: center;
				gap: 12px;
				margin-bottom: 0;
				padding: var(--spacing-medium);
				font-weight: 400;
				color: var(--neutral-hight);
				min-width: 150px;
				justify-content: flex-start;
				text-decoration: none;
			

				font-size: var(--size-medium);


				img {
					width: 25px;

				}

				&:hover {

					background-color: var(--secondary-500-20);

				}


			}

			.nav-sub-item {
				display: none;
				// background-color: var(--primary-100);
				// background-color: var(--neutral-900-20-50);
				

				font-size: var(--size-medium-small);
				border-bottom: 0;


				&.active {background-color: var(--primary-100-50);}
				
				

				a {
					padding: 10px;
					padding-left: 20px;
					font-weight: 400;


				}

			}


			&.active {

				>a {

					// color: var(--primary-500);
				
					background-color: var(--secondary-100-80);
					border-right: 3px var(--primary-500) solid;

				}


				.nav-sub-item {
					display: block;
					border-bottom: solid 1px var(--neutral-900-20);

					&:last-child{
						border-bottom: 0;
					}
				}

			}

		}


	}

	
	@include mdMax {
		width: 100% !important;
		max-width: 100% !important;
		display: none;

		
	}
}

.mobile-controller{
	position:fixed;
	zoom: 0.7;
	top: 20px;
	right: 20px;
	padding: 20px;
	background-color: var(--white);
	display: none;
	@include shadow-2;
	border-radius: 40px;
	overflow: hidden;
}
@include mdMax {
.mobile-controller{
	
	
		display: flex;
	}
}




// hamburger


/* GENERAL STYLES */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}


.hamburger {
    margin: 0 auto;
    // margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--primary-500);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
=======
.lateral-nav{
    // background-color: var(--primary);
    // background-color: cadetblue;
//     -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
// -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
// box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
    border-radius:  0 32px 32px 0;
>>>>>>> parent of 1a2cb56 (header y menú movil con swiper, incompleto)
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    position: fixed;
    height: 100vh;
    // overflow: hidden;

   

    .lateral-nav-item{
        // width: 200px;
        border-radius: 60px;
        padding: var(--spacing-medium);
        display: flex;
            align-items: center;
            // justify-content: center;
            gap: 12px;
            margin-bottom: 10px;
            // flex-direction: column;
            // font-weight: 600;
        &.active{
            background-color: var(--primary-variant-200);
            color: var(--secondary);
        }
        &:hover{
            background-color: var(--primary-variant-200-40);
            // color: var(--secondary);
        }
    }

    .lateral-nav-principal{
        // background-color: var(--primary-contrast-100);
        padding:var(--spacing-small) ;
width:auto;
border-right: var(--primary-contrast-400) solid 1px;
font-size: 0.9em;
// background-color: var(--secondary);
// color: var(--white);
    }
    .lateral-nav-sub{
        width:140px;
        padding:var(--spacing-small) ;
        font-size: 0.8em;

        .lateral-nav-item{
            
            border-radius: 60px;
        padding: var(--spacing-small);
        &.active{
            background-color: var(--primary-variant-200);
        }
        }
    }
   
   
}