.lateral-nav{
    // background-color: var(--primary);
    // background-color: cadetblue;
//     -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
// -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
// box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.14);
    border-radius:  0 32px 32px 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.5s 0s ease;
-moz-transition: all 0.5s 0s ease;
-o-transition: all 0.5s 0s ease;
transition: all 0.5s 0s ease;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    position: fixed;
    height: 100vh;
    // overflow: hidden;

   

    .lateral-nav-item{
        // width: 200px;
        border-radius: 60px;
        padding: var(--spacing-medium);
        display: flex;
            align-items: center;
            // justify-content: center;
            gap: 12px;
            margin-bottom: 10px;
            // flex-direction: column;
            // font-weight: 600;
        &.active{
            background-color: var(--primary-variant-200);
            color: var(--secondary);
        }
        &:hover{
            background-color: var(--primary-variant-200-40);
            // color: var(--secondary);
        }
    }

    .lateral-nav-principal{
        // background-color: var(--primary-contrast-100);
        padding:var(--spacing-small) ;
width:auto;
border-right: var(--primary-contrast-400) solid 1px;
font-size: 0.9em;
// background-color: var(--secondary);
// color: var(--white);
    }
    .lateral-nav-sub{
        width:140px;
        padding:var(--spacing-small) ;
        font-size: 0.8em;

        .lateral-nav-item{
            
            border-radius: 60px;
        padding: var(--spacing-small);
        &.active{
            background-color: var(--primary-variant-200);
        }
        }
    }
   
   
}