a{ 
    text-decoration: underline;
    color: var(--primary) ;

    &:visited {
        color: var(--primary) ; 
    }

    &:hover{
        color: var(--primary-variant-400) ; 
     
    }

    
}

