#swiper-body-proto{
flex: 0 1 calc(100% - 400px);
height: calc(100vh - 68px);

overflow-y: scroll;
@include mdMax{
	flex: 0 0 100%;
}
}
.bodybar {

	margin-left: auto;
	
width: 100%;



	// background-color: aqua;

	&.home-bodybar {
		flex: 0 1 calc(100% - 160px);
	}

	
}

.home{
	.bodybar{
		flex: 0 1 calc(100% - 160px);
	}
}

@include mdMax {
	.bodybar {
		width: 100% !important;
		max-width: 100% !important;
	}

	.cpl-bodybar {
		margin-left: 0;
	}
}